body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* Start of header styling */
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    padding-bottom: 48px;
}

.top-text {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.header-content {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 40px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.header-content-left {
    display: flex;
    flex-direction: column;
    align-items: top;
}

.will-container {
    display: flex;
    margin-left: auto;
    padding-right: 48px;
}

.will-pic {
    height: 350px;
    width: 250px;
    background-color: white;
    padding: 8px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    height: 30px;
    width: 100px;
    border-radius: 10px; /*rounds button corners */
    border-style: none; /*eliminates border shadow */
}

/*end of header styling */

/* Main Content Styling */
.main-content {
    display: flex;
    flex-direction: column;
}

.general-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
}

.nonsense-images {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 50px;
}

.nonsense-images img {
    height: auto;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.pic-with-info {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-wrap: wrap;
}

/* End of Main Content Styling */